<nav class="tab-bar">
  <section class="left-small">
    <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
  </section>

  <section class="right tab-bar-section">
    <h1 class="title">山旅</h1>
  </section>

</nav>
<aside class="left-off-canvas-menu">
  <!-- whatever you want goes here -->
  <ul class="off-canvas-list">
    <li><label for="">メニュー</label></li>
    <li><a href="#">山旅を探す</a></li>
    <li><a href="#">山旅の準備をする</a></li>
    <li><a href="#">イベントを探す</a></li>
    <li><a href="#">エッセイを書く</a></li>
    <li><label for="">山旅フォルダ</label></li>
    <li><a href="#">お気に入り</a></li>
    <li><a href="#">一人で登る</a></li>
    <li><a href="#">皆で登る</a></li>
    <li><label for="">イベントフォルダ</label></li>
    <li><a href="#">お気に入り</a></li>
  </ul>
</aside>
