<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="off-canvas-wrap">
      <div class="inner-wrap">


        <!-- Off Canvas Menu -->
        <%= render('shared/left_menu') %>

        <!-- main content goes here -->
        <%= yield %>

        <!-- close the off-canvas menu -->
        <a class="exit-off-canvas"></a>

      </div>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>